body {
  margin: 0 auto;
  background-color: rgb(20, 5, 66);
  color: white;
}

span {
  color: goldenrod;
}

.App {
  text-align: left;
  justify-content: center;
  background-size: cover;
}

Header {
  background-color: darkmagenta;
  padding: 10px;
  margin: 0 auto;
}

Nav {
  margin: 0 auto;
  position: relative;
  background-color: rgb(132, 6, 132);
  justify-content: center;
  .Nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    .Nav-item {
      display:flex;
      justify-content: center;
      padding: 10px 20px;
      transition: 0.5s;
      .Nav-link {
        text-decoration: none;
        color: whitesmoke;
        text-shadow: 2px 2px black;
      }
    }
    .Nav-item:hover {
      background-color: crimson;;
      transition: 0.5s;
      .Nav-link {
        color: yellow;
        text-shadow: 2px 2px black;
      }
    }
  }  
}

.Apod {
  max-width: 100%;
  min-width: none;
  margin: 0 auto;
  font-size: large;
  .Apod-container {
    text-align: center;
    margin-top: 20vh;
    color: gold;
  }
  .Apod-btn {
    min-height: 20vh;
    text-align: center;
    justify-content: center;
    margin: 20vh auto;
    .Apod-view {
      background-color: red;
      border-radius: 10px;
      max-width: 100px;
      text-shadow: 2px 3px black;
      box-shadow: 1px 3px yellow;
      padding: 5%;
      text-decoration: none;
      color: white;
      transition: 0.3s;
    }
  }
  .Apod-view:hover {
    border-radius: 100%;
    background-color: green;
    color: yellow;
    text-shadow: 2px 1px black;
    box-shadow: 1px 3px yellow;
    transition: 0.5s;
  }

}

.ViewApod {
  margin: 0 auto;
  max-width: 100%;
  min-width: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  .ViewApod-image {
    max-width: 100%;
    min-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    .ViewApod-img {
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .ViewApod-href {
      text-align: center;
      flex-direction: row;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .ViewApod-info {
    max-width: 100%;
    min-width: none;
    padding: 5px;
    color: whitesmoke;
    .ViewApod-title {
      color: crimson;
    }
    .ViewApod-date {
      color: goldenrod;
    }
    .ViewApod-copyright {
      color: goldenrod;
    }
  }
}

footer {
  text-align: center;
  background-color: rgb(21, 20, 20);
  padding: 40px;
  .Footer-link {
    text-decoration: none;

  }
}

.Gallery {
  min-height: 100%;
  text-align: center;
  color: gold;
  .Gallery-container {
    min-height: 40vh;
    margin: 30vh 0 20vh 0;
    h1 {
      font-size: 50px;
    }
    form {
      text-align: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      input {
        width: 500px;
        height: 30px;
        min-width: none;
        border: 2px solid purple;
      }
    }
  }
}

.About {
  min-height: 80vh;
  text-align: center;
  h1 {
    font-size: 50px;
  }
}